/*Importing Google Fonts&Icon Library*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*Rich Black: 131b23;*/
:root{
    --dark: #da2c38;
    --mid: #f1f1f1;
    --light: #fff;
    --color: #131b23;
    --box-shadow: 2px 2px 8px 3px rgba(0,0,0,0.2);
}


/*Setting up & removing default styling*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Poppins', sans-serif;
    color: var(--color);
}

body{
    scroll-behavior: smooth;
    min-height: 100vh;
    overflow-x: hidden;
}

.title{
    width: 100%;
}
.title h1{
    font-size: 3em;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 90px;
    width: 400px;
    border-bottom: 2px solid var(--dark);
}
.about{
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 30px 0 30px;
}
.about picture{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 100%;
}
.about picture img{
    width: 450px;
    height: 500px;
    object-fit: cover;
}
.about .story{
    width: 50%;
}
.about .story strong{
    font-size: 2em;
}
.about .story p{
    text-wrap: wrap;
}



.branch-head{
    font-size: 2em;
    padding-top: 100px;
    margin-left: 40px;
    border-bottom: 5px solid var(--dark);
    width: 300px;
    margin-bottom: -30px;
}
.branches{
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.branches .row{
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
}
.branches .row .card{
    width: 300px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    padding: 20px;
}
.branches .row .card .top{
    width: 100%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.branches .row .card .top img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: 0.2s ease-in-out;
    border-radius: 5px;
}
.branches .row .card .top iframe{
    position: absolute;
    width: 300px ;
    height: 54%;
    opacity: 0;
    border: 0;
    transition: 0.2s ease-in-out;
}
.branches .row .card:hover .top img{
    transform: translateX(-160px);
}
.branches .row .card:hover .top iframe{
    opacity: 1;
    transform: translateX(160px);
}
.card-hover{
    opacity: 0;
    transition: 0.1s ease-in-out;
}




.card-special span{
    color: var(--dark);
}
.card-special{
    position: absolute;
}

.card-1-hover{
    display: flex;
    align-items: center;
    width: 60%;
    height: 100%;
    transform: translateX(2000px);
    transition: 0.2s ease-in-out;
}
.card-1-hover h1{
    font-size: 6em;
}
.card-1-hover-translate{
    transform: translateX(800px);
}





.card-2-hover-1{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 20%;
    transform: translateX(-1500px);
    transition: 0.2s ease-in-out;
}
.card-2-hover-1 h1{
    text-align: center;
    padding-right: 500px;
    width: 100%;
    font-size: 6em;
    transform: rotateZ(-90deg);
}
.card-2-hover-1-translate{
    transform: translateX(-450px);
}


.card-2-hover-2{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 20%;
    transform: translateX(1500px);
    transition: 0.2s ease-in-out;
}
.card-2-hover-2 h1{
    text-align: center;
    padding-right: 500px;
    width: 100%;
    font-size: 6em;
    transform: rotateZ(90deg);
}
.card-2-hover-2-translate{
    transform: translateX(450px);
}



.card-3-hover{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 50%;
    transform: translateX(-1500px);
    transition: 0.2s ease-in-out;
}
.card-3-hover h1{
    text-align: right;
    font-size: 6em;
}
.card-3-hover-translate{
    transform: translateX(-700px);
}




.branches .mobile-cards{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 220vh;
    width: 100%;
    display: none;
}
.branches .mobile-cards .column{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 90%;
    height: 100%;
}
.branches .mobile-cards .column .card{
    width: 100%;
    height: 450px;
    background-color: #f1f1f1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: var(--box-shadow);
}
.branches .mobile-cards .column .card .upper{
    width: 95%;
    height: 300px;
}
.branches .mobile-cards .column .card .upper img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}
.branches .mobile-cards .column .card .lower{
    display: flex;
    flex-direction: column;
    padding-top: 5px;
    width: 95%;
    height: 400px;
}
.branches .mobile-cards .column .card .lower h1{
    font-size: 1.2em;
}
.branches .mobile-cards .column .card .lower .mobile-map{
    position: absolute;
    margin-left: -500px;
    margin-top: -310px;
    border: none;
    height: 305px;
    width: 310px;
    opacity: 0;
    transition: 0.3s ease-in-out;
}
.branches .mobile-cards .column .card .lower .map-btn{
    width: 100%;
    text-align: center;
    color: var(--light);
    background-color: var(--dark);
    border-radius: 5px;
    font-size: 1.2em;
    font-weight: 500;
    padding: 5px;
}
.branches .mobile-cards .column .card .lower .map-btn:hover + .mobile-map{
    margin-left: 0px;
    margin-top: -310px;
    opacity: 1;
}















.summary {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.summary h2 {
    color: #333;
    margin-bottom: 20px;
}

.summary table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.summary table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid var(--color);
}

.summary table th {
    background-color: var(--dark);
    color: var(--light);
    padding: 10px;
    text-align: left;
}

.summary table th:first-child, td:first-child {
    border-left: 1px solid var(--color);
}

.summary table th:last-child, td:last-child {
    border-right: 1px solid var(--color);
}

.summary table tr:last-child td {
    border-bottom: 1px solid var(--color);
}




















@media screen and (max-width: 500px) {
    .title h1{
        text-align: center;
        margin: 0;
        width: 300px;
        margin-left: 30px;
        text-align: center;
        margin-bottom: 20px;
        padding-top: 30px;
    }
    .about{
        height: 120vh;
        padding: 0 10px 0 10px;
        flex-direction: column;
    }
    .about picture{
        width: 98%;
        height: 30%;
    }
    .about picture img{
        width: 100%;
        height: 100%;
    }
    .about .story{
        width: 100%;
        height: 70%;
    }
    .about .story strong{
        font-size: 1.4em;
    }
    .branch-head{
        text-align: center;
        margin-left: 30px;
    }
    .branches{
        padding-top: 30px;
        height: auto;
    }
    .branches .row{
        display: none;
    }
    .branches .mobile-cards{
        display: flex;
    }
    .summary{
        padding: 10px;
    }
    .summary table{
        font-size: 14px;
    }
}