/*Importing Google Fonts&Icon Library*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*Rich Black: 131b23;*/
:root{
    --dark: #da2c38;
    --mid: #f1f1f1;
    --light: #fff;
    --color: #131b23;
    --box-shadow: 2px 2px 8px 3px rgba(0,0,0,0.2);
}


/*Setting up & removing default styling*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Poppins', sans-serif;
    color: var(--color);
}

body{
    scroll-behavior: smooth;
    width: 100%;
    min-height: 200vh;
    overflow-x: hidden;
}


/* Title section */
.title{
    margin-top: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.title h1{
    font-size: 1.8em;
    padding-left: 25px;
}


/* Add section */
.adds{
    width: 100%;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.adds .add{
    width: 400px;
    height: 20vh;
    border-radius: 10px;
    background-color: #131b23;
}



/* Products section */


/*Products Section*/
.products{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
}
/*Fixed left bar*/
.products .sticky{
    padding-top: 5%;
    width: 20%;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 90vh;
}
.products .sticky h1{
    margin-left: 15px;
}
.products .sticky ul{
    margin-left: 15px;
    list-style: none;
    border-left: 5px solid var(--dark);
}
.products .sticky ul li a{
    text-decoration: none;
    font-weight: 600;
    margin-left: 5px;
}
.products .sticky ul li:hover a{
    color: var(--dark);
}
/*Top Add*/
.products .sticky .top-add{
    width: 170px;
    height: 230px;
    margin-left: 15px;
    background-color: #131b23;
    border-radius: 5px;
    transform: translateX(-300px);
    transition: 0.3s ease-in-out;
}
.products .sticky .top-add.pop-out{
    transform: translateX(0);
}
/*Bottom Add*/
.bottom-add{
    margin-left: 15px;
    margin-top: 15px;
    width: 170px;
    height: 100px;
    background-color: #131b23;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
    animation: addChange 10s ease infinite;
}
/*Animation for bottom add*/
@keyframes addChange {
    0%     { background-image: url('./Bg-Images/Home/home-bg-baby-products.jpg'); }
    33%    { background-image: url("./Bg-Images/Home/home-bg-baby-products.jpg");}
    34%    { background-image: url("./Bg-Images/Home/home-bg-coffee.jpg");}
    66%    { background-image: url('./Bg-Images/Home/home-bg-coffee.jpg'); }
    67%    { background-image: url("./Bg-Images/Home/home-bg-bread.jpg");}
    100%   { background-image: url('./Bg-Images/Home/home-bg-bread.jpg'); }
}






/* Product card section */
.products .product-cards{
    width: 80%;
    margin-left: 20%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: -100px;
    flex-wrap: wrap;
    margin-top: 80px;
}
.products .product-cards .card{
    width: 20%;
    height: 350px;
    border-radius: 5px;
    margin: 0 1px 20px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    background-color: var(--mid);
}
.products .product-cards .card img{
    width: 90%;
    height: 200px;
    margin-top: 10px;
    object-fit: cover;
}
.products .product-cards .card h1{
    padding: 10px;
    line-height: 20px;
    text-wrap: wrap;
    font-size: 1.2em;
    width: 100%;
}
.products .product-cards .card h5{
    width: 90%;
    font-size: 1em;
    margin-top: -10px;
}
.products .product-cards .card h6{
    width: 90%;
    font-weight: 500;
    margin-bottom: 25px;
}
.products .product-cards .card a{
    text-decoration: none;
    color: var(--light);
    background-color: var(--dark);
    padding: 5px 10px 5px 10px;
    border-radius: 50px;
}
















@media screen and (max-width:500px) {
    .adds{
        display: none;
    }
    .products .sticky{
        display: none;
    }
    .products .product-cards{
        width: 100%;
        margin-left: 0;
        flex-direction: column;
        justify-content: center;
    }
    .products .product-cards .card{
        width: 70%;
    }
}